@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #1d1b1e;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

.btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.lni {
    color: white;
}

ul {
    list-style: none;
}

nav {
    border-bottom: .01rem solid #CDCBCF;

}

.nav-sec {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.2rem;
}

.menu {
    color: white;
}

.lni-menu {
    font-size: 1.2rem;
}

.container {
    width: 90%;
    margin: auto;
}

header {
    background-image: url('./assets/wave-mobile.png');
    background-size: contain;
    background-position-y: 260%;
    overflow: hidden;
    background-repeat: no-repeat;
}

.header-sec {
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-sec h1 {
    font-size: 4rem;
}

.icon-search {
    font-size: 1.5rem;
}

.btn-search {
    padding: 1rem;
    border-radius: 50px;
    border: 1px solid white;
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
}

section.featured {
    height: 50vh;
}

.feature-image {
    background-image: url('./assets/bg-image-hero.png');
    height: 100%;
    object-fit: cover;
    position: relative;
}

span.feature-tag {
    background-color: #1d1b1e;
    padding: .5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .3rem;
    position: absolute;
    bottom: 3%;
    left: 3%;
}

.feature-info {
    padding: 1.5rem .2rem;
}

.feature-info h3 {
    color: #f1f1f1;
    margin-bottom: .5rem;
}

.feature-info h2 {
    line-height: 2.5rem;
    font-weight: 700;
}

.para {
    padding: 1.2rem 0;
    font-size: 1.2rem;
    color: #f1f1f1;
}

.btn-link {
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.btn-link .lni {
    margin-left: 1rem;
    font-size: 1.8rem;
}

main {
    margin-top: 20rem;
}

.blog-card {
    padding: 1rem 0;
}

.card-image {
    overflow: hidden;
    border-radius: .7rem;
    max-height: 500px;
    position: relative;
}

span.card-tag {
    position: absolute;
    bottom: 5%;
}

.card-title {
    margin-top: 1rem;
}

.cta-sec {
    margin: 2rem .5rem;
}

.cta-container {
    /*background-color: #f1f1f1;*/
    background-image: linear-gradient(200deg, #797e83, #f1f1f1);
    padding: 2rem;
    border-radius: .5rem;
    color: #1d1b1e;
    text-align: center;
    font-size: 1.5rem;
}

.cta-container h2 {
    margin-bottom: 2.5rem;
}

.btn-cta {
    /*background-color: #EE8D1F;*/
    padding: .8rem 1.5rem;
    background-image: linear-gradient(180deg, #572d11, #a35a35);
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}

footer {
    background-image: url('./assets/bg-footer-m.png');
    background-size: 450px;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
    background-position-y: bottom;
    background-position-x: right;
}

.footer-sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer ul,
li {
    margin-bottom: 1rem;
}

h2.footer-header {
    margin-top: 2.5rem;
}

.footer-address h2 {
    margin-bottom: 1rem;
}

.footer-address p>span {
    display: block;
}

.footer-address h4 {
    margin-bottom: .5rem;
}
